/*CSS PARA EL MOCKUP XDXD*/


/*HEADER*/

/*FUENTES*/
@font-face {
  font-family: 'XD';
  src: url('/fonts/Bangers-Regular.ttf') format('truetype');
}

.headerPoL {
  background-color: #6644AE; /* COLOR OSCURO HEADER */
  font-family: 'XD';
  z-index: 1000; 
}

.navbar .nav-link {
  position: relative;
}

/*LINEA AESTERICK*/
.navbar .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #fff; 
  transition: width 0.3s ease;
}

.navbar .nav-link:hover::after {
  width: 100%;
}

/*BODY*/
body {
  padding-top: 30px;
}

/* Barra de ofertas */
#top-bar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 30px;
  color:white;
  font-style: bold;
  background: #1A1A1A;
  text-align: center;
  z-index: 1000; 
}

/* TU header */
.headerPoL {
  position: fixed;
  top: 0;
  width: 100%;
}


/* El header sube */
.hide-bar .headerPoL {
  position: fixed;
  top: 0;
}


/*WELCOME PAGE*/
.img_prin{
     width: 50vw;
    height: auto;
    display: block;
    margin: auto;
}

/*NOVEDADES GRANDE*/

.seccion-hero {
    display: flex;
    min-height: 400px;
}

.hero-contenido {
    flex: 1;
    color: white;
    background-color: #B89EF0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px;
}

.hero-contenido h1 {
    font-size: 3rem;
    font-family: 'XD';
    margin-bottom: 20px;
}

.boton-placeholder {
    background-color: #6644AE;
    color: white;
    padding: 12px 24px;
    border: none;
    width: fit-content;
    margin-top: 20px;
    cursor: pointer;
}

/*SECCION TCG*/

.seccion-grid-novedades {
    padding: 50px 20px;
    background-color: #7F67B2;
    color: white;
    font-family: 'XD';
    font-size: 2vw;
}

.contenedor-grid {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
}

.item-novedad {
    text-align: center;
    flex: 1;
}

.placeholder-img-cuadrada {
    background-color: #d1d1d1;
    aspect-ratio: 16 / 9;
    margin-bottom: 10px;
    border-radius: 4px;
}

.img-novedades{
    width: 25vw;
    border: 0.5vw solid white;
    border-radius: 0.5vw;       
}


















/*COMPONENTE DESCUENTOS */
.seccion-ofertas-descuentos {
    padding: 20px;
    background-color: #B694FF;
    color: white;
    font-family: 'XD';
}

.seccion-ofertas-descuentos h2 {
    margin-bottom: 20px;
    text-align: center;
}

/* Cartas en horizontal */
.contenedor-cartas {
    color: black;
    display: flex;
    gap: 20px;
    padding: 0 20px;
    justify-content: center;
}

.card-carta {
    background: white;
    border-radius: 15px;
    overflow: hidden;
    min-width: 220px;
    background: white;
    border: 0.5vw solid white; 
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transition: transform 0.3s ease;
}

.card-carta:hover {
    transform: translateY(-5px);
}

.img-container {
    position: relative;
}

.img-container img {
    width: 100%;
    height: 22vw;
    object-fit: cover;
}

/* Precio */
.precio {
    position: absolute;
    top: 10px;
    left: 10px;

    background: white;
    padding: 5px 10px;
    border-radius: 10px;

    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

/* Info */
.info {
    padding: 15px;
    text-align: center;
}

.info h3 {
    font-size: 1.1rem;
    margin: 0;
}













/*COMPONENTE ARTICULOS*/

.seccion-ofertas-descuentos2 {
    padding: 20px;
    background-color: white;
    color: black;
    font-family: 'XD';
}

.seccion-ofertas-descuentos2 h2 {
    margin-bottom: 20px;
    text-align: center;
}

/* Cartas en horizontal */
.contenedor-cartas2 {
    color: black;
    display: flex;
    gap: 20px;
    padding: 0 20px;
    justify-content: center;
}

.card-carta2 {
    background: white;
    border-radius: 15px;
    overflow: hidden;
    min-width: 220px;
    background: white;
    border: 0.5vw solid white; 
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transition: transform 0.3s ease;
}

.card-carta2:hover {
    transform: translateY(-5px);
}

.img-container2 {
    position: relative;
}

.img-container2 img {
    width: 100%;
    height: 22vw;
    object-fit: cover;
}

/* Precio */
.precio {
    position: absolute;
    top: 10px;
    left: 10px;

    background: white;
    padding: 5px 10px;
    border-radius: 10px;

    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

/* Info */
.info {
    padding: 15px;
    text-align: center;
}

.info h3 {
    font-size: 1.1rem;
    margin: 0;
}













/*COMPONENTE CARTON DESTACADO*/
.contenedor-carrusel {
    display: flex;
    align-items: center;
    position: relative;
}
.btn-prev, .btn-next {
    background: white;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.contenedor-CD::-webkit-scrollbar {
    display: none;
}

.seccion-CD {
    padding: 20px;
    background-color: #B694FF;
    color: white;
    font-family: 'XD';
}

.seccion-CD h2 {
    margin-bottom: 20px;
    text-align: center;
}

/* Cartas en horizontal */
.contenedor-CD {
    color: black;
    display: flex;
    gap: 1vw;
    padding: 0 20px;
    justify-content: center;
    overflow-x: auto;
}

.card-carta {
    background: white;
    border-radius: 15px;
    overflow: hidden;
    min-width: 220px;
    background: white;
    border: 0.5vw solid white; 
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transition: transform 0.3s ease;
}

.card-carta:hover {
    transform: translateY(-5px);
}

.img-container {
    position: relative;
}

.img-container img {
    width: 100%;
    height: 22vw;
    object-fit: cover;
}

/* Precio */
.precio {
    position: absolute;
    top: 10px;
    left: 10px;

    background: white;
    padding: 5px 10px;
    border-radius: 10px;

    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);

}

/* Info */
.info {
    padding: 15px;
    text-align: center;
}

.info h3 {
    font-size: 1.1rem;
    margin: 0;
}







/*FOOTER*/

.footer-dark {
    background-color: black;
    color: white;
    padding: 50px 20px;
    margin-top: 50px;
}

/* TOP */
.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* responsive */
    max-width: 1200px;
    margin: 0 auto;
}

/* IZQUIERDA */
.footer-info-left {
    flex: 1;
}

/* LOGO */
.footer-logo-box img {
    width: 80px;
    height: auto;
}
.footer-logo-texto {
    display: flex;
    align-items: center; 
    gap: 15px;           
}

/* ICONOS */
.social-icons span {
    margin-right: 10px;
    cursor: pointer;
}

/* DERECHA */
.footer-form-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.footer-form-right input {
    padding: 10px;
    border-radius: 20px;
    border: none;
}

/* BOTÓN */
.btn-suscribir {
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

/* BOTTOM */
.footer-bottom {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 30px auto 0;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col li {
    margin: 5px 0;
}





/*CATALOGO*/
/* CONTENEDOR GENERAL */
.catalogo {
    display: flex;
    background: #7B6AA8;
    padding: 20px;
}

/* SIDEBAR */
.filtro {
    width: 200px;
    background: #6c5aa0;
    color: white;
    padding: 20px;
}

.filtro h3 {
    margin-bottom: 20px;
}

.filtro select {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
}

/* CONTENIDO */
.contenido {
    flex: 1;
    background: white;
    padding: 20px;
}

.contenido h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* GRID DE CARTAS */
.grid-cartas {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columnas */
    gap: 20px;
}

/* CARTA */
.card {
    background: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.card img {
    width: 100%;
    height: auto;
}

.precio {
    color: purple;
    font-weight: bold;
}

.nombre {
    font-size: 0.9rem;
}





/*SECCION DETALLES DE CARTA*/
.producto-detalle {
    display: flex;
    gap: 50px;
    padding: 40px;
    background: #7B6AA8;
    color: #222;
}

/* IMAGEN */
.producto-img {
    background: #eee;
    padding: 20px;
}

.producto-img img {
    width: 300px;
    height: auto;
}

/* INFO */
.producto-info {
    flex: 1;
}

.producto-info h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.subtitulo {
    font-weight: bold;
    margin-bottom: 20px;
}

.titulo-detalles {
    margin-top: 20px;
    font-weight: bold;
}

.rating {
    margin: 10px 0;
}

.rating span {
    font-size: 0.8rem;
    color: #555;
}

/* DESCRIPCIÓN */
.descripcion {
    max-width: 500px;
    line-height: 1.5;
}

/* SEPARADOR */
hr {
    margin: 30px 0;
}

/* CANTIDAD + PRECIO */
.cantidad-precio {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.control {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.control button {
    padding: 5px 10px;
    cursor: pointer;
}

/* PRECIO */
.precio {
    font-size: 30px;
    font-weight: bold;
}

/* BOTÓN */
.btn-agregar {
    margin-top: 20px;
    padding: 10px 20px;
    background: #b89ef0;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}









/*SECCION CARRITO*/
.carrito {
    background: #7B6AA8;
    padding: 40px;
    color: #222;
}

.regresar {
    font-size: 14px;
    margin-bottom: 10px;
    cursor: pointer;
}

.carrito h1 {
    margin-bottom: 20px;
}

/* ITEM */
.carrito-item {
    display: flex;
    justify-content: space-between;
    background: #eee;
    padding: 20px;
    border-radius: 5px;
}

/* IZQUIERDA */
.item-info {
    display: flex;
    gap: 20px;
    align-items: center;
}

.item-info img {
    width: 80px;
}

.precio {
    background: #ddd;
    padding: 5px 10px;
    border-radius: 10px;
}

/* DERECHA */
.item-control {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cantidad-box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.control {
    display: flex;
    align-items: center;
    gap: 10px;
}

.control button {
    padding: 5px 10px;
    cursor: pointer;
}

.total-box {
    display: flex;
    align-items: center;
    gap: 15px;
}

.quitar {
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
}

/* OPCIONES */
.opciones {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* BOTONES */
.acciones {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.btn-pagar {
    background: #b89ef0;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
}

.btn-regresar {
    background: #ddd;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
}












/*SECCION CHECKOUT*/
.checkout {
    display: flex;
    height: 100vh;
}

/* IZQUIERDA */
.checkout-left {
    width: 50%;
    background: #7B6AA8;
    padding: 40px;
    color: white;
}

.checkout-left h2 {
    margin: 20px 0;
}

/* ITEM */
.item {
    display: flex;
    align-items: center;
    background: #eee;
    color: black;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.item img {
    width: 80px;
    margin-right: 15px;
}

.item .info {
    flex: 1;
}

.item .precio {
    font-weight: bold;
}

/* OPCIONES */
.opcion {
    background: #eee;
    color: black;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

/* DERECHA */
.checkout-right {
    width: 50%;
    background: #f2f2f2;
    padding: 40px;
}

.checkout-right h2 {
    margin-bottom: 20px;
}

/* FORM */
.form-envio {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-envio input {
    border: none;
    border-bottom: 2px solid #999;
    background: transparent;
    padding: 10px;
}

.form-envio input:focus {
    outline: none;
    border-color: #7B6AA8;
}

/* BOTÓN */
.form-envio button {
    margin-top: 20px;
    padding: 12px;
    background: #7B6AA8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

















/*SECCION REGISTRO*/
.auth-container {
    display: flex;
    height: 100vh;
}

/* IZQUIERDA */
.auth-left {
    width: 50%;
}

.auth-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* DERECHA */
.auth-right {
    width: 50%;
    background: white;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'XD';
}

.auth-right h1 {
    font-size: 40px;
    margin-bottom: 30px;
}

/* FORM */
form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

label {
    font-size: 12px;
    color: #555;
}

input {
    padding: 10px;
    border: 1px solid #999;
    border-radius: 5px;
}

/* BOTÓN */
button {
    margin-top: 10px;
    padding: 10px;
    background: #7B6AA8;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

/* TERMINOS */
.terminos {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 12px;
}

/* LINK */
.login-link {
    margin-top: 10px;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
}